.leftsidebar-parent{
   width: 100%;
   height: 100vh;
}
.leftsidebar-upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: #fff;
}
.changeModeside{
    color: white;
    background-color: black;
}
.leftsidebar-upper2{
    margin-top: 15px;
    padding: 0px 15px;
    background-color: #fff;
    border-radius: 10px;
}

.leftsidebar-upper button{
    width: 60%;
    padding: 5px 10px;
}
.leftsidebar-toppost-button{
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #EFF3FA;
    border: none;
    font-weight: 600;
    margin: 5px 55px;
    font-size: 15px;
    border-radius: 2px;
}
/* .leftsidebar-toppost-button{
    transition: all .2s ease-in-out;
} */
/* .leftsidebar-toppost-button:hover{
    background-color: #192252;
    color: #fff;
} */
.leftsidebar-toppost-button:active{
    transform: scale(0.97);
}
.leftsidebar-top-button{
    transition: all .2s ease-in-out;
}
.leftsidebar-top-button:hover{
    background-color: #225ed6;
}
.leftsidebar-filter{
    list-style: none;
}
.leftsidebar-filter li{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 2px;
}
/* .leftsidebar-filter li{
    transition: all .2s ease-in-out;
} */
.leftsidebar-filter li:hover{
    background-color: #f1f4fa91;
}
.leftsidebar-filter li:active{
    transform: scale(0.97);
}
.leftsidebar-filter-selected{
    /* background-color: #f1f4fa; */
    /* margin: 5px 0px; */
}
.leftsidebar-text{
    padding-top: 15px;
    color: #000;
    font-weight: 700;
}
.leftsidebar-lower-text{
    color: #000;
    font-weight: 700;
}
.leftsidebar-material-icon{
    font-size: 20px;
    margin-right: 5px;
}

.darkleftsidebar-upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: black;
}

.darkleftsidebar-upper2{
    margin-top: 15px;
    padding: 0px 15px;
    background-color:black;
    border-radius: 10px;
}


.darkleftsidebar-toppost-button{
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    border: none;
    font-weight: 600;
    margin: 5px 55px;
    font-size: 15px;
    border-radius: 2px;
}
.leftsidebar-lower-final-dark li{
    color: #fff;
}
/* .leftsidebar-toppost-button{
    transition: all .2s ease-in-out;
} */
/* .leftsidebar-toppost-button:hover{
    background-color: #192252;
    color: #fff;
} */


.darkleftsidebar-text{
    padding-top: 15px;
    color:white;
    font-weight: 700;
}
.darkleftsidebar-lower-text{
    margin: 0px 0px 10px 0px;
    color:white;
    font-weight: 700;
}
.darkleftsidebar-filter-selected{
    background-color: #f1f4fa83;
    margin: 0px 0px;
}
/* .darkleftsidebar-filter-selected>li:ho{
    background-color: #f1f4fa83;
    margin: 5px 0px;
} */
.leftsidebar-ul-link{
    color: black;
    text-decoration: none;
}