.rightsidebar-parent{
    width: 100%;
}
.rightsidebar-upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: #fff;
}
.rightsidebar-text{
    color: #000;
    font-weight: 700;
}
.rightsidebar-upper-text{
    font-size: 14px;
    margin: 5px 0px;
}
.rightsidebar-work-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFF3FA;
    border: none;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 2px;
}
.rightsidebar-work-button:active{
    transform: scale(0.97);
}
.rightsidebar-work-button-icon{
    margin-right: 5px;
}
/* .rightsidebar-work-button{
    transition: all .2s ease-in-out;
} */
/* .rightsidebar-work-button:hover{
    background-color: #192252;
    color: #fff;
} */
.rightsidebar-ul2{
    list-style-type: none;
    margin-top: 10px;
}
.rightsidebar-ul2 li{
    display: inline-block;
    background-color: #f1f4fa91;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 3px 5px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.rightsidebar-ul2 li:active{
    transform: scale(0.97);
}
.rightsidebar-work-text{
    color: #000;
    font-weight: 700;
}
.rightsidebar-recent-jobs-text{
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
}
.rightsidebar-post-left{
    display: flex;
    align-items: center;
}
.rightsidebar-upper2{
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 0px;
}
.rightsidebar-upper3{
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 10px;
}
.rightsidebar-post-dp{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 5px;
}
.rightsidebar-post-username{
    display: flex;
    flex-direction: column;
}
.rightsidebar-post-belowname{
    display: flex;
}
.rightsidebar-post-tag{
    font-size: 12px;
}
.rightsidebar-post-time{
    font-size: 12px;
}
.rightsidebar-recent-jobs-card{
    border: 1px solid rgb(202, 198, 198);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.rightsidebar-recent-jobs-description{
    font-size: 14px;
}
.rightsidebar-start-chat-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFF3FA;
    border: none;
    font-weight: 600;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 12px;
    border-radius: 2px;
}
.rightsidebar-start-chat-button:active{
    transform: scale(0.97);
}
/* .rightsidebar-start-chat-button{
    transition: all .2s ease-in-out;
} */
/* .rightsidebar-start-chat-button:hover{
    background-color: #192252;
    color: #fff;
} */
.rightsidebar-find-post-button{
    display: flex;
}

.darkrightsidebar-upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 10px;
    background-color:black;
}
.changeModeside2{
    color: white;
    background-color: rgb(0, 0, 0);
}