*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f7f7 !important;
}
/*  body p, ul{
    margin: 0px !important;
    padding: 0px !important;
} */