.work-parent{
    width: 100%;
}
.work-ul{
    list-style-type: none;
}
.work-upper1{
    display: flex;
    justify-content: center;
}
.work-box-design{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    background-color: #fff;
}
.work-ul li{
    display: inline-block;
    border: 1px solid rgb(202, 198, 198);
    border-radius: 30px;
    padding: 10px 15px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.work-li-selected{
    background-color: #000;
    color: #fff;
}
.work-upper2{
    padding: 4px;
}
.work-ul2{
    list-style-type: none;
}
.work-ul2 li{
    display: inline-block;
    background-color: #f1f4fa;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 3px 5px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.work-upper3{
    padding-top: 20px;
    border-bottom: 1px solid rgb(202, 198, 198);
}
.work-box-design-lower{
    margin-top: 15px;
    padding: 0px 20px;
    border-radius: 10px;
    background-color: #fff;
}
.work-post-dp{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 5px;
}
.work-post-username{
    display: flex;
    flex-direction: column;
}
.work-post-left{
    display: flex;
    align-items: center;
}
.work-post-belowname{
    display: flex;
}
.work-post-time-tag{
    font-size: 12px;
    font-weight: 500;
}
.work-post-caption{
    font-size: 20px;
    line-height: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.work-post-caption{
    transition: all .2s ease-in-out;
}
/* .work-post-caption:hover{
    color: #0299FD;
} */
.work-post1{
    display: flex;
    justify-content: space-between;
}
.work-post-right{
    display: flex;
    align-items: center;
}
.work-button-save{
    cursor: pointer;
    background-color: #EFF3FA;
    border: none;
    font-weight: 600;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 2px;
}
.work-button-download{
    margin-left: 20px;
}
/* .work-button-save{
    transition: all .2s ease-in-out;
} */
/* .work-button-save:hover{
    background-color: #192252;
    color: #fff;
} */
.work-button-save:active{
    transform: scale(0.97);
 }
.work-workpost{
    background-color: #f1f4fa;
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    padding: 15px;
    text-align: justify;
    margin-top: 15px;
}
.work-workpost-image{
    object-fit: cover;
    cursor: pointer;
    margin-top: 20px;
    max-width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
.work-workpost-below{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
.work-workpost-below-left button{
    transition: all .2s ease-in-out;
}
.work-workpost-below-left button{
    cursor: pointer;
    background-color: #f0f0f000;
    border: 1px solid #d4d4d4;
    color: #999999;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 10px;
    border-radius: 2px;
}
.work-workpost-below-left button:hover{
    background-color: #F0F0F0;
}
.work-workpost-facebook-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    border-radius: 2px;
    background: #3B5998;
    color: white;
}
.work-workpost-facebook-button:hover{
    background-color: #517ad1;
}
.work-workpost-twitter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px; 
    border-radius: 2px;
    background: #1E9BF0;
    color: white;
}
.work-workpost-twitter-button:hover{
    background-color: #3a6bd3;
}
.work-workpost-share-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f000;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 2px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border: 1px solid #d4d4d4;
    color: #999999;
}
.work-workpost-share-button-image{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-workpost-below-right{
    display: flex;
}
.work-workpost-arrow{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.work-workpost-share-button:hover{
    background-color: #F0F0F0;
}
.work-workpost-below-right button{
    cursor: pointer;
}
.work-workpost-button-flex-parent{
    display: flex;
}
.work-workpost-button-flex-parent button{
    display: flex;
    align-items: center;
}
.work-belowtags-parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-filter-center{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 15px 20px;
    margin-top: 15px;
    border-radius: 10px;
}
.work-filter select{
    padding: 5px 30px;
    font-weight: 500;
    font-size: 14px;
}
.work-filter select option{
    font-weight: 500;
    font-size: 14px;
}
.work-postjob-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    padding: 5px;
    background-color: #192252;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 3px;
}
.work-postjob-button:active{
    transform: scale(0.97);
}
/* .work-filter{
    border-right: 2px solid #192252;
    padding-right: 20px;
} */
.work-start-chat-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 10px;
    background-color: #192252;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 3px;
}
/* .work-start-chat-button{
    transition: all .2s ease-in-out;
} */
/* .work-start-chat-button:hover{
    background-color: #F1F4FA;
    color: #192252;
} */
.work-filter select{
    border: 2px solid #0a1f50;
    border-radius: 2px;
    outline:0px;
 }
 .work-start-chat-button:active{
    transform: scale(0.97);
 }

.changeModeRec{
    color: white;
    background-color: rgb(0, 0, 0);
}    
.darkwork-ul2 li{
    background-color: #f1f4fa91;

}
.darkwork-workpost{
    background-color: #f1f4fa28;
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    padding: 15px;
    text-align: justify;
    margin-top: 15px;
}