.addpost-parent{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addpost-container{
    background-color: white;
    padding: 100px;
    border-radius: 10px;
}
.addpost-container p{
    text-align: center;
}
.addpost-textarea{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 2px;
    color: #001f3f;
    font-weight: 600;
    background-color: #F7F9FC;
}
.addpost-tag{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: #001f3f;
    font-weight: 600;
    background-color: #F7F9FC;
}
.addpost-select{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 2px;
    color: #001f3f;
    font-weight: 600;
    background-color: #F7F9FC;
}
.addpost-img-video{
    display: flex;
}
.addpost-img-video{
    margin-top: 10px;
}
.addpost-category-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}