.home-container{
    display: flex;
    padding: 15px 0px;
}
.app-parent{
    padding: 10px;
}

.changeMode{
    color: white;
    background-color: rgb(26, 24, 24);
  }
  
.left-flex{
    flex: 3;
    /* overflow-y: scroll;
    height: 100vh; */
}
.main-flex{
    flex: 7;
    margin: 0 15px;
    overflow-y: scroll;
    height: 123vh;
}
/* .main-left{
    overflow-y: scroll;
} */
.right-flex{
    flex: 3;
    /* overflow-y: scroll;
    height: 100vh; */
}
/* .left-flex::-webkit-scrollbar {
    display: none;
}
.right-flex::-webkit-scrollbar {
    display: none;
} */
.main-flex::-webkit-scrollbar {
    display: none;
}

.app-parent2{
    padding: 15px;
   opacity: 0.08;
   position: relative; 
   z-index: 1;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track{
    border-radius: 8px;
}
::-webkit-scrollbar-thumb{
    background: #656768;
    border-radius: 8px;
}
@media only screen and (max-width:900px){
    .left-flex{
        display: none;
    }
    .right-flex{
        display: none;
    }
    .app-parent{
        padding: 0;
    }
    .main-flex{
        margin: 0;
    }
    .mobile-navbar{
        display: none;
    }
}
@media only screen and (max-width:500px){
    .main-flex{
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        height: 100vh;
    }
}